# [START swagger]
swagger: "2.0"
info:
  description: "A restful api for the events projects."
  title: "Events API"
  version: "1.0.0"  
host: "events-api.endpoints.adminsoft-216205.cloud.goog"
basePath: /api
# [END swagger]
consumes:
- "application/json"
produces:
- "application/json"
schemes:
# Uncomment the next line if you configure SSL for this API.
- "https"
- "http"
paths:
  "/users":
    get:
      description: "Retrieves all registered users."
      operationId: "users.list"
      responses:
        200:
          description: "List of users"
        401:
          description: "User not authenticated. Have not proper permissions."
    post:
      description: "Registers a user in the platform." 
      operationId: "users.register"
      responses:
        201:
          description: "Created user"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: firstname
          type: string
          in: body
          required: true
        - name: lastname
          type: string
          in: body
          required: true
        - name: birthdate
          type: date
          in: body
          required: true
        - name: gender 
          type: string
          in: body
          required: true
        - name: phone
          type: number
          in: body
          required: true
        - name: alias 
          type: string
          in: body
        - name: email
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
        - name: password_cofirmation
          type: string
          in: body
          required: true
  "/users/{user}":
    get:
      description: "Retrieves specified user."
      operationId: "users.show"
      responses:
        200:
          description: "User"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
    put:
      description: "Updates specified user."
      operationId: "users.update"
      responses:
        200:
          description: "User"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
        - name: firstname
          type: string
          in: body
          required: true
        - name: lastname
          type: string
          in: body
          required: true
        - name: birthdate
          type: date
          in: body
          required: true
        - name: gender 
          type: string
          in: body
          required: true
        - name: phone
          type: number
          in: body
          required: true
        - name: alias 
          type: string
          in: body
        - name: email
          type: string
          in: body
          required: true
    delete:
      description: "Deletes specified user."
      operationId: "users.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
  "/users/{user}/changePassword":
    put:
      description: "Updates specified user."
      operationId: "users.update"
      responses:
        200:
          description: "User"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
        - name: old_password
          type: string
          in: body
          required: true
        - name: password
          type: number
          in: body
          required: true
        - name: password_confirmation
          type: string
          in: body
          required: true
  "/user":
    get:
      description: "Retrieve the logged user."
      operationId: "users.logged"
      responses:
        200:
          description: "Logged User"
        401:
          description: "User not authenticated."
    put:
      description: "Retrieve the logged user."
      operationId: "users.logged.update"
      responses:
        200:
          description: "Logged User"
        401:
          description: "User not authenticated."
      parameters:
        - name: firstname
          type: string
          in: body
          required: true
        - name: lastname
          type: string
          in: body
          required: true
        - name: birthdate
          type: date
          in: body
          required: true
        - name: gender 
          type: string
          in: body
          required: true
        - name: phone
          type: number
          in: body
          required: true
        - name: alias 
          type: string
          in: body
        - name: email
          type: string
          in: body
          required: true
    delete:             
      description: "Delete account of logged user."
      operationId: "users.logged.delete"
      responses:
        204:
          description: "Empty response"
        401:
          description: "User not authenticated."
  "/user/changePassword": 
    put:
      description: Changes logge user password
      operationId: users.logged.changePassword
      responses:
        204:
          description: "Empty response"
        401:
          description: "User not authenticated."
      parameters:
        - name: old_password
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
        - name: password_confirmation
          type: date
          in: body
          required: true
  "/login":
    post:
      description: Authenticates user
      operationId: login
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        418:
          description: "Account not active"
      parameters:
        - name: email
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
  "/logout":
    get:
      description: Log out 
      operationId: logout
      responses:
        204:
          description: "Empty response"
        401:
          description: "User not authenticated."
  "/confirm/{uuid}":
    get: 
      description: Confirm account
      operationId: confirmation
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: uuid
          type: string
          in: query
          required: true
  "resend/{email}":
    get:
      description: Resend confirmation email
      operationId: confirmation.resend
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
  "/password/create":
    post: 
      description: Create password reset request
      operationId: password.reset.create
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: email
          type: string
          in: body
          required: true
  "/password/reset":
    post:
      description: Resend confirmation email
      operationId: password.reset
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "Provided token has expired"
      parameters:
        - name: email
          type: string
          in: body
          required: true
        - name: token
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
        - name: password_confirmation
          type: string
          in: body
          required: true
  "/extras/general/{event_id}":
    get:
      description: "Retrieves extras for specified event."
      operationId: "extras.general"
      responses:
        200:
          description: "Extras"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: event_id
          type: number
          in: query
          required: true
  "/extras/{event_id}/{user_id}":
    get:
      description: "Retrieves extras for specified event and user."
      operationId: "extras.individual"
      responses:
        200:
          description: "Extras"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: event_id
          type: number
          in: query
          required: true
        - name: user_id
          type: number
          in: query
          required: true
  "/extras/{extra}"
    delete:
      description: "Deletes specified extra."
      operationId: "extras.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: extra
          type: Extra
          in: query
          required: true
  "/extras":
    post:
      description: "Creates a group of extras."
      operationId: "extras.storeMany"
      responses:
        201:
          description: "Created extras"
        400:
          description: "Failed data validations."
      parameters:
        - name: text
          type: string
          in: body
          required: true
        - name: event_id
          type: number
          in: body
          required: true
    delete:
      description: "Deletes specified extra."
      operationId: "extras.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
  "/answers":
    post:
      description: "Creates a group of answers."
      operationId: "answers.storeMany"
      responses:
        201:
          description: "Created answers"
        400:
          description: "Failed data validations."
      parameters:
        - name: extra_id
          type: number
          in: body
          required: true
        - name: user_id
          type: number
          in: body
          required: true
        - name: answer
          type: string
          in: body
          required: true

  
definitions: