# [START swagger]
swagger: "2.0"
info:
  description: "A restful api for the events projects."
  title: "Events API"
  version: "1.0.0"  
host: "events-api.endpoints.adminsoft-216205.cloud.goog"
basePath: /api
# [END swagger]
consumes:
- "application/json"
produces:
- "application/json"
schemes:
# Uncomment the next line if you configure SSL for this API.
- "https"
- "http"
paths:
  "/users":
    get:
      description: "Retrieves all registered users."
      operationId: "users.list"
      responses:
        200:
          description: "List of users"
        401:
          description: "User not authenticated. Have not proper permissions."
    post:
      description: "Registers a user in the platform." 
      operationId: "users.register"
      responses:
        201:
          description: "Created user"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: firstname
          type: string
          in: body
          required: true
        - name: lastname
          type: string
          in: body
          required: true
        - name: birthdate
          type: date
          in: body
          required: true
        - name: gender 
          type: string
          in: body
          required: true
        - name: phone
          type: number
          in: body
          required: true
        - name: alias 
          type: string
          in: body
        - name: email
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
        - name: password_cofirmation
          type: string
          in: body
          required: true
  "/users/{user}":
    get:
      description: "Retrieves specified user."
      operationId: "users.show"
      responses:
        200:
          description: "User"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
    put:
      description: "Updates specified user."
      operationId: "users.update"
      responses:
        200:
          description: "User"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
        - name: firstname
          type: string
          in: body
          required: true
        - name: lastname
          type: string
          in: body
          required: true
        - name: birthdate
          type: date
          in: body
          required: true
        - name: gender 
          type: string
          in: body
          required: true
        - name: phone
          type: number
          in: body
          required: true
        - name: alias 
          type: string
          in: body
        - name: email
          type: string
          in: body
          required: true
    delete:
      description: "Deletes specified user."
      operationId: "users.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
  "/users/{user}/changePassword":
    put:
      description: "Updates specified user."
      operationId: "users.update"
      responses:
        200:
          description: "User"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
        - name: old_password
          type: string
          in: body
          required: true
        - name: password
          type: number
          in: body
          required: true
        - name: password_confirmation
          type: string
          in: body
          required: true
  "/user":
    get:
      description: "Retrieve the logged user."
      operationId: "users.logged"
      responses:
        200:
          description: "Logged User"
        401:
          description: "User not authenticated."
    put:
      description: "Retrieve the logged user."
      operationId: "users.logged.update"
      responses:
        200:
          description: "Logged User"
        401:
          description: "User not authenticated."
      parameters:
        - name: firstname
          type: string
          in: body
          required: true
        - name: lastname
          type: string
          in: body
          required: true
        - name: birthdate
          type: date
          in: body
          required: true
        - name: gender 
          type: string
          in: body
          required: true
        - name: phone
          type: number
          in: body
          required: true
        - name: alias 
          type: string
          in: body
        - name: email
          type: string
          in: body
          required: true
    delete:             
      description: "Delete account of logged user."
      operationId: "users.logged.delete"
      responses:
        204:
          description: "Empty response"
        401:
          description: "User not authenticated."
  "/user/changePassword": 
    put:
      description: Changes logge user password
      operationId: users.logged.changePassword
      responses:
        204:
          description: "Empty response"
        401:
          description: "User not authenticated."
      parameters:
        - name: old_password
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
        - name: password_confirmation
          type: date
          in: body
          required: true
  "/login":
    post:
      description: Authenticates user
      operationId: login
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        418:
          description: "Account not active"
      parameters:
        - name: email
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
  "/logout":
    get:
      description: Log out 
      operationId: logout
      responses:
        204:
          description: "Empty response"
        401:
          description: "User not authenticated."
  "/confirm/{uuid}":
    get: 
      description: Confirm account
      operationId: confirmation
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: uuid
          type: string
          in: query
          required: true
  "resend/{email}":
    get:
      description: Resend confirmation email
      operationId: confirmation.resend
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
  "/password/create":
    post: 
      description: Create password reset request
      operationId: password.reset.create
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: email
          type: string
          in: body
          required: true
  "/password/reset":
    post:
      description: Resend confirmation email
      operationId: password.reset
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "Provided token has expired"
      parameters:
        - name: email
          type: string
          in: body
          required: true
        - name: token
          type: string
          in: body
          required: true
        - name: password
          type: string
          in: body
          required: true
        - name: password_confirmation
          type: string
          in: body
          required: true
  "/extras/general/{event_id}":
    get:
      description: "Retrieves extras for specified event."
      operationId: "extras.general"
      responses:
        200:
          description: "Extras"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: event_id
          type: number
          in: query
          required: true
  "/extras/{event_id}/{user_id}":
    get:
      description: "Retrieves extras for specified event and user."
      operationId: "extras.individual"
      responses:
        200:
          description: "Extras"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: event_id
          type: number
          in: query
          required: true
        - name: user_id
          type: number
          in: query
          required: true
  "/extras/{extra}"
    delete:
      description: "Deletes specified extra."
      operationId: "extras.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: extra
          type: Extra
          in: query
          required: true
  "/extras":
    post:
      description: "Creates a group of extras."
      operationId: "extras.storeMany"
      responses:
        201:
          description: "Created extras"
        400:
          description: "Failed data validations."
      parameters:
        - name: text
          type: string
          in: body
          required: true
        - name: event_id
          type: number
          in: body
          required: true
    delete:
      description: "Deletes specified extra."
      operationId: "extras.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
  "/answers":
    post:
      description: "Creates a group of answers."
      operationId: "answers.storeMany"
      responses:
        201:
          description: "Created answers"
        400:
          description: "Failed data validations."
      parameters:
        - name: extra_id
          type: number
          in: body
          required: true
        - name: user_id
          type: number
          in: body
          required: true
        - name: answer
          type: string
          in: body
          required: true
  "/tickets":
    post:
      description: "Create a new ticket" 
      operationId: "ticket.store"
      responses:
        201:
          description: "Created ticket"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: event_id
          type: number
          in: body
          required: true
        - name: user_id
          type: number
          in: body
          required: true
  "/tickets/{user}":
    get:
      description: "Retrieves list of tickets."
      operationId: "users.list"
      responses:
        200:
          description: "Tickets"
        401:
          description: "Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
  "users/{user}/events/{event}":
    delete:
      description: "Deletes specified ticket."
      operationId: "tickets.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
  "/locations":
    get:
      description: "Retrieves all locationss."
      operationId: "locations.list"
      responses:
        200:
          description: "List of locations"
        401:
          description: "User not authenticated. Have not proper permissions."
    post:
      description: "CReate location." 
      operationId: "locations.store"
      responses:
        201:
          description: "Created location"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: event_id
          type: number
          in: body
          required: true
        - name: name
          type: string
          in: body
          required: true
        - name: address
          type: string
          in: body
          required: true
        - name: lat
          type: number
          in: body
          required: true
        - name: long
          type: number
          in: body
          required: true
  "/locations/{location}":
    get:
      description: "Retrieves specified location."
      operationId: "locations.show"
      responses:
        200:
          description: "Location"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
    put:
      description: "Updates specified location."
      operationId: "locations.update"
      responses:
        200:
          description: "Location"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: event_id
          type: number
          in: body
          required: true
        - name: name
          type: string
          in: body
          required: true
        - name: address
          type: string
          in: body
          required: true
        - name: lat
          type: number
          in: body
          required: true
        - name: long
          type: number
          in: body
          required: true
    delete:
      description: "Deletes specified location."
      operationId: "locations.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
  "/events":
    get:
      description: "Retrieves all events."
      operationId: "events.list"
      responses:
        200:
          description: "List of events"
        401:
          description: "User not authenticated. Have not proper permissions."
    post:
      description: "Create event." 
      operationId: "events.store"
      responses:
        201:
          description: "Created event"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: name
          type: string
          in: body
          required: true
        - name: starts
          type: date
          in: body
          required: true
        - name: end
          type: date
          in: body
          required: true
        - name: registration_start
          type: date
          in: body
          required: true
        - name: registration_end
          type: date
          in: body
          required: true
        - name: image
          type: string
          in: body
          required: true
        - name: description
          type: string
          in: body
          required: true
        - name: organizer_id
          type: number
          in: body
          required: true
        - name: guest_capacity
          type: number
          in: body
          required: true
        - name: event_type
          type: number
          in: body
          required: true
  "/events/{event}":
    get:
      description: "Retrieves specified event."
      operationId: "events.show"
      responses:
        200:
          description: "Event"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
    put:
      description: "Updates specified event."
      operationId: "events.update"
      responses:
        200:
          description: "Event"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: name
          type: string
          in: body
          required: true
        - name: starts
          type: date
          in: body
          required: true
        - name: end
          type: date
          in: body
          required: true
        - name: registration_start
          type: date
          in: body
          required: true
        - name: registration_end
          type: date
          in: body
          required: true
        - name: image
          type: string
          in: body
          required: true
        - name: description
          type: string
          in: body
          required: true
        - name: organizer_id
          type: number
          in: body
          required: true
        - name: guest_capacity
          type: number
          in: body
          required: true
        - name: event_type
          type: number
          in: body
          required: true
    delete:
      description: "Deletes specified event."
      operationId: "events.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true        
  "/sponsors":
    get:
      description: "Retrieves all sponsors."
      operationId: "sponsors.list"
      responses:
        200:
          description: "List of sponsors"
        401:
          description: "User not authenticated. Have not proper permissions."
    post:
      description: "Create sponsor." 
      operationId: "sponsors.store"
      responses:
        201:
          description: "Created sponsor"
        400:
          desciption: "Failed data validations"
      parameters:
        - name: name
          type: string
          in: body
          required: true
        - name: image
          type: string
          in: body
          required: true
        - name: event_id
          type: number
          in: body
          required: true
  "/sponsors/{sponsor}":
    get:
      description: "Retrieves specified sponsor."
      operationId: "sponsors.show"
      responses:
        200:
          description: "Sponsor"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true
    put:
      description: "Updates specified sponsor."
      operationId: "sponsors.update"
      responses:
        200:
          description: "Sponsor"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: name
          type: string
          in: body
          required: true
        - name: image
          type: string
          in: body
          required: true
        - name: event_id
          type: number
          in: body
          required: true
    delete:
      description: "Deletes specified sponsor."
      operationId: "sponsors.delete"
      responses:
        204:
          description: "Empty response"
        400:
          desciption: "Failed data validations"
        401:
          description: "User not authenticated. Have not proper permissions."
      parameters:
        - name: id
          type: number
          in: query
          required: true           
definitions: